{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.7/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.7/slick-theme.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.7/slick.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/sliders.js') }}"></script>
{% endblock %}

{% block content %}
        <div class="gallery-bar">
        {% for thumb in thumbs %}
            <div>
                <img src="{{ thumb }}"/>
            </div>
        {% endfor %}
        </div>

        <div class="gallery">
        {% for img in imgs %}
            <div>
                <img src="{{ img }}" class="gallery"/>
            </div>
        {% endfor %}
        </div>

{% endblock %}
