<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aphelion</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block head %}
    {% endblock %}
    {% block scripts %}
    {% endblock %}

    <script type="text/javascript">
        $(function () {
            {% if current_user.is_authenticated() and not current_user.is_anonymous() %}
            $(".subheader").append("<h2><a href=\"{{ url_for('logout') }}\">LOGOUT</a></h2>");
            {% else %}
            $(".subheader").append("<h2><a href=\"#!\" id=\"login\" class=\"login\">LOGIN</a></h2>");
            {% endif %}
            //login lightbox
            $("#login").click(function() {
                $(".overlay").show();
            });
            $("#logout").click(function() {
                $(".overlay").show();
            });
            $(".close").click(function() {
                $(".overlay").hide();
            });

            //login validation
            $(".login").validate();

            $(".passwordchange").validate();
        });


    </script>

</head>
<body>
<div class="header">
    <div class="overlay">
        <div class="loginbox">
            {% include "page_parts/login_form.html" %}
            <a class="close">Close</a>
        </div>
    </div>
    <h2>
    {% if page == 'index' %}
        APHELION
    {% else %}
        <a href="/">APHELION</a>
    {% endif %}
    </h2>
    <div class="subheader">
        {% for item in ['universe', 'features', 'art'] %}
            {% if item == page %}
                <h2 id="current">
                    {% filter upper %}{{ item }}{% endfilter %}
                </h2>
            {% else %}
                <h2><a href="/{{ item }}">
                    {% filter upper %}{{ item }}{% endfilter %}
                </a></h2>
            {% endif %}
        {% endfor %}
        <noscript>
            {% if current_user.is_authenticated %}
            <h2><a href="{{ url_for('logout') }}">LOGOUT</a></h2>
            {% else %}
			<h2><a href="{{ url_for('login') }}" class="login">LOGIN</a></h2>
            {% endif %}
		</noscript>
    </div>
    <hr/>
</div>
<div class="content">
{% if error is defined %}
<div class="has-error">
    {{ error }}
</div>
{% endif %}
{% block content %}
{% endblock %}
</div>
</body>
</html>