{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.7/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.7/slick-theme.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.7/slick.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/sliders.js') }}"></script>
{% endblock %}

{% block content %}
        <div class="slider-nav">
        {% for path in paths %}
            <div>
                <h3 class="">
                    {% filter content_title_filter %}{{ path }}{% endfilter %}
                </h3>
            </div>
        {% endfor %}
        </div>
        <div class="slider-for">
        {% for path in paths %}
            <div>
                {% include path %}
            </div>
        {% endfor %}
        </div>

{% endblock %}
